<section class="about__section">
  <div class="section color-scheme-1">
    <div class="about__container">
      <div class="about__header">
        <h1 class="h1">About</h1>
      </div>
    </div>
  </div>
</section>
