<!--
  @file contact-section.ejs
  @author Samuel Beaulac
  @date 26/10/2025
  @brief Section de contact
-->
<section class="contact__section">
  <div class="section color-scheme-1">
    <div class="contact__container">
      <div class="contact__header">
        <h1 class="h2">Contact</h1>
      </div>
      <%- include('../partials/contact-form') %>
    </div>
  </div>
</section>
