<!--
  @file footer.ejs
  @author Samuel Beaulac
  @date 26/10/2025
  @brief Pied de page avec navigation
-->
<footer class="footer">
  <div class="footer__section">
    <div class="section color-scheme-1" id="footer">
      <nav
        class="footer__template-areas footer__menu"
        style="--area-align-items: center"
      >
        <div class="footer__template-area--left">
          <ul class="footer__menu-list--col list-unstyled">
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="/">Home</a>
            </li>
          </ul>
        </div>

        <div class="footer__template-area--center">
          <ul class="footer__menu-list--col list-unstyled">
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>

        <div class="footer__template-area--right">
          <ul class="footer__menu-list--col list-unstyled">
            <li class="footer__menu-item">
              <a class="footer__menu-link" href="/about">About</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</footer>
