<form class="login__form form" method="POST" action="/">
  <input
    type="text"
    id="username"
    name="username"
    autocomplete="username"
    placeholder="Username"
    required
    class="login__form-input form-input"
  />
  <input
    type="password"
    id="password"
    name="password"
    autocomplete="current-password"
    placeholder="Password"
    required
    class="login__form-input form-input"
  />
  <!-- Submit -->
  <input
    class="btn--full-width btn-primary"
    type="submit"
    id="loginSubmit"
    name="loginSubmit"
    value="Login"
  />
</form>
