.contact__section {
}

.contact__container {
  max-width: 40rem;
  margin: 0 auto;
  width: 100%;
}

.contact__header {
  margin-bottom: 1.5rem;
}

.contact__form {
}

.contact__form-row {
}

.contact__form-input {
}

.contact__form-input--textarea {
}
