/**
 * @file login-section.css
 * @author Samuel Beaulac
 * @date 26/10/2025
 * @brief Styles pour la section de connexion
 */

.login__section {
}

.login_container {
  max-width: 20rem;
  margin: 0 auto;
  width: 100%;
}

.login__header {
  margin-bottom: 1.5rem;
}

.login__content {
  margin-bottom: 1rem;
}

.login__form {
}

.login__form-input {
}
