<!--
  @file 404.ejs
  @author Samuel Beaulac
  @date 26/10/2025
  @brief Page d'erreur 404
-->
<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body class="page-width">
    <%- include('../partials/header') %>
    <main class="content-for-layout">
      <section class="nf__section">
        <div class="section color-scheme-1">
          <div class="nf__container">
            <h1 class="h1">404</h1>
            <a href="/" class="btn btn-primary">Retourn à l'accueil</a>
          </div>
        </div>
      </section>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
