<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body class="page-width">
    <%- include('../partials/header') %>
    <main class="content-for-layout">
      <%- include('../partials/about-section', { currentUser }) %>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
