<!--
  @file contact.ejs
  @author Samuel Beaulac
  @date 26/10/2025
  @brief Page de contact
-->
<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body class="page-width">
    <%- include('../partials/header') %>
    <main class="content-for-layout">
      <%- include('../partials/contact-section', { currentPage, currentUser })
      %>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
