<!--
  @file dashboard.ejs
  @author Samuel Beaulac
  @date 26/10/2025
  @brief Page du tableau de bord utilisateur
-->
<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body class="page-width">
    <%- include('../partials/header') %>
    <main class="content-for-layout">
      <%- include('../partials/dashboard-section', { currentPage, currentUser,
      users, flashMessage }) %>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
