<!--
  @file index.ejs
  @author Samuel Beaulac
  @date 26/10/2025
  @brief Page d'accueil avec formulaire de connexion
-->
<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body class="page-width">
    <%- include('../partials/header') %>
    <main class="content-for-layout">
      <%- include('../partials/login-section', { currentPage, currentUser, error
      }) %>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
